.dub
docs.json
__dummy.html
docs/
/bindbc-libmicrohttpd
/example/example
/example/bindbc-libmicrohttpd_example
bindbc-libmicrohttpd-test-*
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.lst
*.pdb
dub.selections.json
# Old GDC probes
*.s